@media all and (max-width: 780px) {
     /* mentors-section */
     .mentors-heading-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 17px 16px 0 16px;
    }
    .mentors-heading {
      font-size: 14px;
      margin: 0;
    }
    .mentors-see-more {
      display: flex;
      white-space: nowrap;
    }
    .mentors {
     margin: 0 16px 23px 16px; 
     align-items: end;
    }
    .mentors-slider {
      display: none;
    }
    .mentors-right-side {
      display: none;
    }
    .mentors-paragraph {
      display: flex;
    }
    .menotrs-right-side-responsive {
      display: flex;
    }

    /* students-experience-section */
    .students-experience {
      display: block;
    }
    .students-arrow-left {
      display: none;
    }
    .students-students {
      display: none;
    }
    .students-exp-heading {
      display: flex;
      justify-content: center;
    }
    .students-heading {
      font-size: 14px;
      margin: 15px 36px 0 36px;
      width: 305px;
    }
    .students-exp-responsive-div {
      display: flex;
      text-align: center;
      justify-content: space-between;
    }
    .students-exp-description {
      margin: 0;
    }
    .students-exp-image-responsive {
      display: flex;
      margin: 0 0 20.3px 16px;
    }
    .students-exp-btn {
      width: 100px;
      font-size: 14px;
      padding: 6px 12px;
      margin: 0;
    }
    .students-paragraph  {
      display: none;
    }
    .students-exp-responsive-paragraph {
      display: flex;
      font-size: 10px;
      height: 84px;
      margin: 14px 19px 20px 36px;
      text-align: left;
    }

    .students-exp-arrow-right {
      display: none;
    }

    /* new-courses-section */
    .new-courses-cards-grid {
      margin-right: 16px;
    }
    .new-courses-full-card {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      padding: 0 0 24px 16px;
      grid-template-columns: 50px 1fr 1fr;
    }    
    .new-courses {
      align-items: normal;
    }
    .new-courses-card {
      grid-template-rows: 10% 15% 1fr 1%;
      grid-template-columns: 45% 1fr 15%;
      width: 140px;
      height: 102px;
    }
    .new-courses-entire-card {
      width: 163px;
      height: 270px;
    }
    .new-courses-heading {
      margin: 14px 16px;
      justify-content: space-between;
    }
    .new-courses-h1 {
      font-size: 14px;
      margin-right: 0;
    }
    .new-courses-more {
      font-size: 10px;
      color: #FFFFFFB2;
    }
    .new-courses-arrow-left,
    .new-courses-arrow-right,
    .purple-shadow,
    .new-courses-dots1,
    .new-courses-dots2,
    .new-courses-card-image {
      display: none;
    }
    .new-courses-card-image-responsive {
      display: flex;
      margin-top: 12px;
    }
    .new-courses-emptyheart, .new-courses-heart-full {
      width: 32px;
      height: 32px;
      border: none;
      padding: 7px;
    }
    .new-courses-stars {
      width: 70px;
      height: 9px;
      margin-top: 0;
      margin-left: 5px;
    }
    .new-courses-couples {
      display: flex;
      flex-direction: column;
      margin-left: 45px;
    }
    .second-couple {
      margin: 0;
    }
    .new-courses-h4 {
      font-size: 12px;
      margin-top: 17px;
      margin-bottom: 8px;
      margin-left: 12px;
    }
    .new-courses-information {
      margin: 0;
    }
    .new-courses-icons {
      width: 8px;
      height: 10px;
    }
    .couple-text {
      font-size: 8px;
      margin-left: 10px;
    }
    .new-courses-btn {
      margin-top: 13px;
      padding: 7px 20px;
    }
  }